<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lamuvi - Cadastro</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <header class="navbar">
        <div class="logo">
            <span class="logo-icon">🍙</span> Lamuvi
        </div>
        <nav>
            <ul>
                <li><a href="#">Busca</a></li>
                <li><a href="#">Catálogo</a></li>
                <li><a href="#">Lista</a></li>
                <li><a href="#" class="profile-link">PERFIL</a></li>
            </ul>
        </nav>
    </header>

    <main class="container">
        <section class="card">
            <h1>Cadastro</h1>
            
            <form>
                <div class="input-group">
                    <label for="nome">NOME:</label>
                    <input type="text" id="nome" name="nome">
                </div>

                <div class="input-group">
                    <label for="email">EMAIL:</label>
                    <input type="email" id="email" name="email">
                </div>

                <div class="input-group">
                    <label for="senha">SENHA:</label>
                    <input type="password" id="senha" name="senha">
                </div>

                <button type="submit" class="btn-registrar">Crie Conta</button>
            </form>
        </section>
    </main>

</body>
</html>